body {
  text-shadow: 1px 1px 0.5px rgb(168, 156, 156), 1px 0.1px 0.5px rgb(201, 191, 191), 0.1px 0.1px 0.5px rgb(134, 130, 130);
  margin: 0;
  
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("https://images.pexels.com/photos/5697673/pexels-photo-5697673.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  
}

body::-webkit-scrollbar {
  display: none;
}

.navbar {
  width: 100%;
  height: 80px;
  background-color: transparent;
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  backdrop-filter: blur(3px);
}

.links a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  display:inline-block;
  padding-bottom: 2px;
  margin: 2rem;
  
  font-size: 1.75rem;
  text-shadow: 1px 1px 2px rgb(209, 182, 182), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
}

  .links a h5{
    margin: 0;
    font-weight: 500;
  }

.links a:after {
  display:block;
  content: '';
  border-bottom: solid 3px #000000;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}

.links a:hover:after{
  transform: scaleX(1);
}

.login-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
}

.login-main button {
  text-shadow: 1px 1px 2px rgb(209, 182, 182), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
  border-radius: 4.2px 4.2px 4.2px 4.2px;
  background-color: transparent;
  border: 1px solid black;
  transition: 0.5s;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.login-main button:hover{
  cursor: pointer;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

@media all and (min-width: 320px) and (max-width: 620px){

  .navbar {
    width: 100%;
    height: 80px;
    background-color: transparent;
    color: #000;
    backdrop-filter: blur(3px);
  }

  .links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin: 1rem;
    font-size: 1.2rem;
    text-shadow: 1px 1px 2px rgb(209, 182, 182), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
  }

    .links a h5 {
      
      font-weight: 550;
    }

  .links a:after {
    display:block;
    content: '';
    border-bottom: solid 3px #000000;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
  }
  
  .links a:hover:after {
    transform: scaleX(1);
  }

}