.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.stats {
  width: 100%;
  height: 50%;
  border: 1px solid black;
  border-radius: 4.2px 4.2px 4.2px 4.2px;
  margin: 0.5rem;
}

.learned-group h2 {
  flex-wrap: wrap;
}

.learned-group  {
  display: flex;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.learned-kanji {
  order: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.learned-kanji button {
  border-radius: 4.2px 4.2px 4.2px 4.2px;
  width: 2.5rem;
  height: 2.5rem;
  margin: 3px;  
  background-color: transparent;
  border: none;
  transition: 0.37s;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  
  text-shadow: 1px 1px 2px rgb(209, 182, 182), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
}

.learned-kanji button:hover{
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.37);
}

.WeatherWidget {
  border: 1px solid black;
  border-radius: 4.2px 4.2px 4.2px 4.2px;
  margin: 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  margin: 1rem;
}

.WeatherWidget h3 {
  margin: 10px;
} 

.weather {
  margin: 10px;
}

.weather-desc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-transform: capitalize;
}

  img {
    width: 2.5rem;
    height: 2.5rem; 
    border-radius: 4.2px;
  }

.homeModal {
  position: absolute;
  border-radius: 4.2px 4.2px 4.2px 4.2px;
  background-color: transparent;
  vertical-align: middle;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.homeModal button {
  height: 3rem;
  width: 5rem;
  border-radius: 0 4.2px 4.2px 4.2px;
  background-color: transparent;
  backdrop-filter: blur(3px);
  border: 1px solid black;
  transition: 0.5s;
}

.homeModal button:hover {
  cursor: pointer;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.about {
  width: 100%;
  height: 50%;
  border: 1px solid black;
  border-radius: 4.2px 4.2px 4.2px 4.2px;
  margin: 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  word-wrap: normal;
}
