.home {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.stats {
  width: 50%;
  height: 50%;
  border: 1px solid black;
  border-radius: 4.2px 4.2px 4.2px 4.2px;
  margin: 10px;
}

.stats ul {
  vertical-align: middle
}

.stats ul button {
  border-radius: 4.2px 4.2px 4.2px 4.2px;
  width: 2.5rem;
  height: 2.5rem;
  margin: 3px;  
  background-color: transparent;
  border: none;
  transition: 0.37s;
  color: #000;

  vertical-align: middle;
  
}

ul button:hover{
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.5);
  border: 1px solid black;
}

button {
  text-shadow: 1px 1px 2px rgb(209, 182, 182), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
}

.WeatherWidget {
  border: 1px solid black;
  border-radius: 4.2px 4.2px 4.2px 4.2px;
  margin: 10px;
  gr
}