.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0,0,0,0.4);
}

.kanji-button {
  border-radius: 4.2px 4.2px 4.2px 4.2px;
  width: 3.9rem;
  height: 3.9rem;
  margin: 3px;  
  background-color: transparent;
  border: none;
  transition: 0.5s;
  color: #000;
  vertical-align: middle;
}

.button-text{
  text-shadow: 1px 1px 2px rgb(209, 182, 182), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 4.2px 4.2px 4.2px 4.2px;
}

.kanji-button:hover{
  font-size: 1.035rem;
  cursor: pointer;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.37);
}

.group-container {
  text-shadow: 1px 1px 2px rgb(209, 182, 182), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.filters div{
  margin: 5%; 
}

.selector {
  

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;


  position: fixed;
  height: 0;
  bottom: 0;
  transition: height 0.75s ease-in-out;
  z-index: 9;
  width: 100%;
  background-image: url('src/assets/media/img/spring/spring5.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.params {
flex-shrink: 1;
width: auto;
height: 10rem;
width: 10rem;
}

.selector button {
  width: 5rem;
  height: 5rem;
} 


/* 



.selector-createDeck {
  grid-area: 1 / 3 / 2 / 4;
}

.selector-MoveSelectedToLearned {
  grid-area: 1 / 4 / 2 / 5;
}

.selector-Select {
  grid-area: 1 / 5 / 2 / 6;
}

.selector-cancel {
  grid-area: 1 / 6 / 2 / 7;
}

.selector-manual {
  grid-area: 2 / 5 / 3 / 7;
}

.selector-progressBar {
  grid-area: 3 / 1 / 4 / 7;
} */

#hamburger-open {
  position: fixed;
  width: 2em;
  height: 2em;
  transition: 0.5s;
  bottom: 0;
  left: 50%;
  margin: 0;
}

#hamburger-open:hover {
  cursor: pointer;
  font-size: 1.1em;
}

#hamburger-close{
  position: fixed;
  width: 2em;
  height: 2em;
  transition: 0.5s;
  left: 50%;
  bottom: 0;
  padding-top: 1rem;
}

#hamburger-close:hover {
  cursor: pointer;
  font-size: 1.1em;
}

.hamburger-holder{
  position: fixed;
  width: 100%;
  height: 2em;
  bottom: 0;
  background-image: url('src/assets/media/img/spring/spring5.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

}
