.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

#container {
  font-size: 0;
}

.kanji-button {
  
  width: 35px;
  height: 35px;
  margin: 3px;  
  
  box-shadow: 3px 1px 3.5px;
  transition: 0.5s;
}




#container button:hover{

  transform: translateY(-0.25em);

}

