.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  backdrop-filter: blur(5px);
}

.modal-body {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  z-index: 10;
}

.kanji{
  grid-area: 1 / 1 / 5 / 4;
}

.kanji path {
  fill: none;
  stroke: rgb(145, 7, 7);
  stroke-width: 2;
  
}

.modal-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  margin-left: 20px;
  grid-area: 1 / 4 / 6 / 6;
  
}

.modal-details h1 {
  flex-grow: 1;
}

.modal-details button {
  text-shadow: 1px 1px 2px rgb(209, 182, 182), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
  margin-top: 10px;
  width: 7em;
  border-radius: 4.2px 4.2px 4.2px 4.2px;
  background-color: transparent;
  border: 1px solid black;
  transition: 0.5s;
}

.controls {
  
  border: 1px solid black;
  grid-area: 5 / 1 / 6 / 4;

  display: grid;
  grid-template-columns: fit-content(100%) 1fr fit-content(100%);
  justify-items: center;
  

}

.controls button {
  text-shadow: 1px 1px 2px rgb(209, 182, 182), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
  border-radius: 4.2px 4.2px 4.2px 4.2px;
  background-color: transparent;
  border: 1px solid black;
  transition: 0.5s;
}

.ctrls-mid button{
  width: 100%;
  height: 50%;

}

.stroke-arrow button{
  width: 100%;
  height: 100%;
}

.modal-details button:hover{
  cursor: pointer;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.controls button:hover{
  cursor: pointer;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@media screen and (max-width: 360px){

  .modal-body {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: 1px solid black;
    padding: 0.75rem;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 90%;
    height: 95%;
    z-index: 10;
  }

  .modal-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 20px;
    grid-area: 1 / 4 / 6 / 6;
  }

  .stroke-arrow{
    width: 3em;
  }

  .controls {
    border: 1px solid black;
    grid-area: 5 / 1 / 6 / 4;
  }
  
}