
.params-parent {
  display: flex;
  justify-content: center;
  text-align: center;
 
}

.test-params { 
  display: flex;
  align-items: center;
  margin: 1rem;
  border: 1px solid black;
  border-radius: 4.2px;
  width: min-content;
}

input,select {
  width: 3rem;
  text-shadow: 1px 1px 2px rgb(209, 182, 182), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
  border-radius: 4.2px 4.2px 4.2px 4.2px;
  background-color: transparent;
  border: 1px solid black;
  transition: 0.5s;
}

.question {
  text-align: center;
  padding: 0 1rem 0 1rem;
}


.questions{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 0 1rem 0 1rem;
  vertical-align: middle;
  
  border-radius: 4.2px;
}

.questions button{
  text-shadow: 1px 1px 2px rgb(209, 182, 182), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(255, 255, 255);
  border-radius: 4.2px 4.2px 4.2px 4.2px;
  background-color: transparent;
  border: 1px solid black;
  transition: 0.5s;
  height: 5rem;
  width: 5rem;
  word-wrap: break-word;
}

.questions button:hover{
  font-size: 1.035rem;
  cursor: pointer;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.37);
  
}

.counter {
  padding-top: 1rem;
  text-align: center;
}
